.intro {
  background: #cf0058;
  text-align: center;
  padding: 20px;
}

.heading {
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 25pt;
  text-shadow: 2px 2px black;
  }

h2 {
  font-size: 20pt;
  text-shadow: 2px 2px black;
}

.container {
    position: relative;
    display: inline-block;
    margin-left: 11px;
    margin-right: auto;
    height: 24%;
    width: 24%;
    border-radius: 50%;
    padding: 20px;
}

.img-circle {
  opacity: 1;
  height: auto;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.2;
  top: 50%;
  left: 50%;
}

.container:hover .middle {
  opacity: 0.7;
  top: 50%;
  left: 50%;
}

.text {
  background-color: #778899;
  color: white;
  font-size: 16px;
  margin-left: 11px;
  margin-right: auto;
  opacity: 1;
}

.hovering-text {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 1;
}
#button {
  margin-top: 12px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.social-media {
  color: white;
}


@media (max-width: 600px) {
    h1, p, .container, .img-circle, .middle, .container:hover .image, .container:hover .middle, .text  {
        width: 100%;
        margin-top: 0;
}
